
// Цвета
$color--red: #EF363C;
$color--light-gray: #E0E0E0;
$color--background-gray: #e0e0e0;
$color--purple: #583899;

// Размеры
$size--window-max-width: 1100px;

// Точка с которой будет мобилка
$mobile-break-point: 900px;

// Размеры шрифты
$fs--big: 24px;
$fs--default: 14px;